html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #283136;
 
  background-color: #ffffff;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 49px;
  
  background-color: #eeeeee;
}

.logo {
  width: 160px;
  min-height: 65px;
  margin-left: auto;
}

.main-navigation {
  width: 485px;
  min-height: 65px;
  margin: 0 77px 0 178px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 26px 0 0;
  
  list-style: none;  
}

.nav-item {  
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;  
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;  
}

.user-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  width: 260px;
  min-height: 65px;
  margin-right: auto;
  padding-top: 9px;
}

.cart {
  position: relative;
  
  padding-left: 40px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
} 

.cart::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  
  width: 15px;
  height: 15px;
  
  background: url(../img/sprites.png) 0 0;
  opacity: .3;
}

/*Начало кода слайдера*/

.slider {
  position: relative;
  
  width: 1160px;
  min-height: 424px;
  margin: 0 auto;
  
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position:  bottom right 31px;
  
  transition-duration: .6s;
}

.slider::before,
.slider::after {
  content: "";
  
  visibility: hidden;
}

.slider::before {
  background-image: url(../img/slide2.png);
}

.slider::after {
  background-image: url(../img/slide3.png);
}

input[name="toggle"] {
  display: none;
}

.slider-control {
  position: absolute;
  top: 310px;
  left: 536px;
}

.slider-control label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 14px;
  
  background-color: #ffffff;
  border-radius: 50%;
}

.slider-control label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  
  width: 4px;
  height: 4px;
  
  background: #ffffff;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  
  transition-duration: .4s;
  transition-property: opacity;
} 

.slide {
  display: none;
}

.slide-title {
  margin: 71px 0 26px;
  
  font-weight: ;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slide1 .slide-title {
  width: 400px;
}

.slide2 .slide-title {
  width: 550px;
}

.slide3 .slide-title {
  width: 450px;
}

.slide2 p {
  width: 430px;
}

.slide3 p {
  width: 350px;
}

.btn {
  display: inline-block;
  padding-top: 17px;
  padding-bottom: 15px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
    
  background-color: #fb565a;
  border-radius: 3px;
}

.slide-btn {
  box-sizing: border-box;
  min-width: 240px;
  min-height: 50px;
  margin-top: 23px;
  padding-right: 54px;
  padding-left: 54px;
}

#btn-1:checked ~ .slider {
  background-image: url(../img/slide1.png);
}

#btn-2:checked ~ .slider {
  background-image: url(../img/slide2.png);
  background-position: bottom right;
}

#btn-3:checked ~ .slider {
  background-image: url(../img/slide3.png);
  background-position: bottom right;
}

#btn-1:checked ~ .slider label[for="btn-1"]::after,
#btn-2:checked ~ .slider label[for="btn-2"]::after,
#btn-3:checked ~ .slider label[for="btn-3"]::after {
  visibility: visible;
  opacity: 1;
}

#btn-1:checked ~ .slider .slide1,
#btn-2:checked ~ .slider .slide2,
#btn-3:checked ~ .slider .slide3 {
  display: block;
}

/*Конец кода слайдера*/

/*Начало содержимого <header> на странице каталога*/

.main-title {
  box-sizing: border-box;
  width: 1160px;
  min-height: 234px;
  margin: 0 auto;
  padding-top: 70px;
  padding-left: 215px;
  
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

/*Конец содержимого <header> на странице каталога*/

.content {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 53px;
  padding: 0 20px;
}

.features {  
  display: flex;
  margin-bottom: 80px;
  padding-top: 27px;
}

.feature-item {
  width: 300px;
  min-height: 347px;
  margin-right: 100px;
}

.feature-item:last-of-type {
  margin-right: 60px;
}

.feature-title {
  margin: 0;
  margin-top: 18px;
  
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
.feature-text {
  width: 260px;
}

.features .btn {
  margin-top: 16px;
  padding-right: 40px;
  padding-left: 40px;
}

.feature-btn-1 {
  background-color: #fb565a;
}

.feature-btn-2 {
  background-color: #00ca74;
}

.feature-btn-3 {
  background-color: #efc84a;
}

.about-us {
  display: flex;
  justify-content: space-between;
  
  border-top: 2px solid #eeeeee;
}

.description {
  width: 660px;
  min-height: 450px;
  padding-top: 74px;
}

.description-title {
  margin: 0px;
  margin-bottom: 33px;
  
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;  
}

.name-list  {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.description .name-list {
  margin-top: 39px;
}

.description-list {
  margin: 0;
  margin-top: 24px;
  padding: 0;
  
  list-style: none;
}

.description-list-item {
  position: relative;
  margin-bottom: 24px;
  padding-left: 36px;
}

.description-list-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 1px;
  
  width: 25px;
  height: 2px;
  
  background-color: #fb565a;
}

.advantages {
  width: 360px;
  min-height: 450px;
  padding-top: 40px;
}

.advantages .name-list {
  margin-top: 29px;
  padding-left: 17px;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.value {
  margin: 25px 24px 19px 0;
  margin-top: 25px;
  margin-right: 24px;
  
  
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.measure {
  font-size: 25px;
  line-height: 25px;
  vertical-align: super;
}

.advantages-text {
  line-height: 18px;
}

.clients {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.client {
  position: relative;
  box-sizing: border-box;
  width: 260px;
  height: 180px;
  
  opacity: .2;
}

.client1 {
  padding-top: 63px;
  padding-left: 30px;
}

.client2 {
  padding-top: 47px;
  padding-left: 26px;
}

.client3 {
  padding-top: 66px;
  padding-left: 38px;
}

.client4 {
  padding-top: 53px;
  padding-left: 44px;
}

.client::before {
  content: "";
  position: absolute;
  top: 65px;
  right: -21px;
  
  display: block;
  width: 2px;
  height: 52px;
  
  background-color: #000000;
}

.client:last-of-type::before {
  display: none;
}

/*Начало содержимого <main> каталога*/

.inner-page {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 260px;
}

.filter-group {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 23px;
  padding: 0;
  
  border: none;
}

.filter-name {
  padding: 0;
  
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.price-range {
  position: relative;
  
  box-sizing: border-box;
  width: 260px;
  height: 80px;
  margin-top: 48px;
  
  background-color: #eeeeee;
  border-radius: 5px;
}

.price-range-main-scale {
  position: absolute;
  top: 39px;
  left: 20px;
  
  width: 219px;
  height: 2px;
  
  background-color: #d7dcde;
}

.price-range-diapason {
  position: absolute;
  top: 39px;
  left: 20px;
  
  width: 151px;
  height: 2px;
  
  background-color: #00ca74;
}

.price-range-low,
.price-range-high {
  position: absolute;
  top: 29px;
  
  width: 4px;
  height: 4px;
  
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  
}

.price-range-low {
  left: 18px;
}

.price-range-high {
  left: 160px
}

.price-control {
  display: flex;
  margin-top: 14px;
  margin-bottom: 30px;
  padding-left: 1px;
  
  text-transform: uppercase;
}

.price-control label {
  margin-right: 12px;
  align-self: center;
}

.price-control input {
  margin-right: 32px;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.price-control input {
  width: 80px;
  height: 36px;
  
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.filter-grid {
  margin-bottom: 41px
}

.filter-group p{
  margin: 0;
  margin-top: 16px
}

.filter-grid input {
  display: none;
}

.filter-grid label {
  position: relative;
  padding-left: 37px;
}

.filter-grid label::before,
.filter-grid label::after {
  content: "";
  position: absolute;
  
  border-radius: 50%;
}

.filter-grid label::before {
  top: -4px;
  left: 2px;
  
  width: 18px;
  height: 18px;
  
  background-color: #ffffff;
  border: 3px solid #b8b8b8;
}

.filter-group label::after {  
  transition-duration: .3s;
}

.filter-grid label::after {
  top: 4px;
  left: 10px;
  
  width: 8px;
  height: 8px;
  
  background-color: #b8b8b8;
  visibility: hidden;
  opacity: 0;
} 

.filter-group input:checked + label::after {
  visibility: visible;
  opacity: 1;
}

.filter-features  {
  padding-left: 2px;
}

.filter-features input {
  display: none;
}

.filter-features label {
  position: relative;
  padding-left: 36px;
} 

.filter-features label::before,
.filter-features label::after {
  content: "";
  position: absolute;
  left: 0;  
  
  box-sizing: border-box;
  width: 23px;
  height: 22px;
}

.filter-features label::before {  
  border: 2px solid #b8b8b8;
  border-radius: 5px;
}

.filter-features label::after {  
  background: url(../img/sprites.png) no-repeat -50px 0;  
  visibility: hidden;
  opacity: 0;
}

.btn-filter {
  width: 100%;
  margin-top: 24px;
  
  font-weight: 500;
  color: #000000;
  
  border: none;  
  background-color: #eeeeee;
}

.column-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  padding-top: 4px;
}

.sorting-text {
  width: 160px;
  
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sorting-list {
  display: flex;
  width: 360px;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.sort-item {
  position: relative;
  margin-right: 25px;
}
.sort-link {
  text-transform: uppercase;
  
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.sort-increase {
  position: absolute;
  top: 7px;
  right: -36px;
  
  margin-right: 0;
  margin-left: 10px;
  
  font-size: 0;
  border-top: 9px solid #000000;
  border-right: 5px solid transparent;
  border-bottom: 0;
  border-left: 5px solid transparent;
}

.sort-decrease {  
  position: absolute;
  top: -11px;
  right: -40px;
  
  margin-right: 0;
  margin-left: 10px;
  
  font-size: 0;
  border-top: 0;
  border-right: 5px solid transparent;
  border-bottom: 9px solid #000000;
  border-left: 5px solid transparent;
  opacity: .2;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 52px;
  margin-bottom: 24px;
}

.catalog-item {
  position: relative;
  
  width: 360px;
  min-height: 616px;
  margin-bottom: 36px;
  
  font-size: 0;
  line-height: 0;
}

.catalog-item:nth-of-type(n+5),
.catalog-item:nth-of-type(n+6) {
  margin-top: 3px;
}

.catalog-item-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  
  width: 100%;
  
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  
  background-color: #eeeeee;
  visibility: hidden;
  opacity: 0;
  
  transition-duration: .6s;
}

.catalog-item:hover .catalog-item-price {
  visibility: visible;
  opacity: 1;  
}

.catalog-item-title {
  font-weight: ;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-text {
  margin: 0;
  margin-bottom: 30px;
}

.btn-catalog {
  min-width: 200px;
  margin-bottom: 43px;
}

.pagination {
  display: flex;
  width: 460px;
  height: 50px;
  margin-bottom: 60px;
}

.pagination a {
  flex-direction: row;
  box-sizing: border-box;
  min-width: 50px;
  height: 50px;
  margin-right: 11px;  
  
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  
  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination .current {
  line-height: 44px;
  
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination .next {
  box-sizing: border-box;
  min-width: 260px;
}

/*Конец содержимого <main> каталога*/

.main-footer {
  position: relative;
  
  display: flex;
  flex-wrap: wrap;
}

.map {
  width: 100%;
  min-height: 416px;
}

.footer-contacts-wrapper {
  position: relative;
  max-width: 1160px;
  height: 416px;
  margin: 0 auto;
}

.footer-contacts {
  position: absolute;
  top: 54px;
  
  box-sizing: border-box;
  width: 319px;
  height: 308px;
}

.footer-social {
  width: 360px;
  min-height: 217px;
  margin: 0 40px 0 auto;
}

.footer-discount {
  box-sizing: border-box;
  width: 760px;
  height: 217px;
  margin: 0;
  margin-right: auto;
  padding-right: 200px;
}





















/*======================================
 Системное оформление - не изменять
=======================================*/

/*
body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > * > * {
  background: rgba(255, 110, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(255, 110, 45);

}*/
