html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #283136;
 
  background-color: #ffffff;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 53px;
  padding-top: 49px;
  
  background-color: #eeeeee;
}

.logo {
  width: 160px;
  min-height: 65px;
  margin-left: auto;
}

.main-navigation {
  width: 485px;
  min-height: 65px;
  margin: 0 77px 0 178px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 26px 0 0;
  
  list-style: none;  
}

.nav-item {  
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;  
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;  
}

.user-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  width: 260px;
  min-height: 65px;
  margin-right: auto;
  padding-top: 9px;
}

.cart {
  position: relative;
  
  padding-left: 40px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
} 

.cart::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  
  width: 15px;
  height: 15px;
  
  background: url(../img/sprites.png) 0 0;
  opacity: .3;
}

/*Начало кода слайдера*/

.slider {
  position: relative;
  
  width: 1160px;
  min-height: 424px;
  margin: 0 auto;
  
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position:  bottom right 31px;
  
  transition-duration: .6s;
}

.slider::before,
.slider::after {
  content: "";
  
  visibility: hidden;
}

.slider::before {
  background-image: url(../img/slide2.png);
}

.slider::after {
  background-image: url(../img/slide3.png);
}

input[name="toggle"] {
  display: none;
}

.slider-control {
  position: absolute;
  top: 310px;
  left: 536px;
}

.slider-control label {
  position: relative;
  margin-right: 35px;
}

.slider-control label::before {
  content: "";
  position: absolute;
  
  width: 18px;
  height: 18px;
  
  background-color: #ffffff;
  border-radius: 50%;
}

.slider-control label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  
  width: 4px;
  height: 4px;
  
  background: #ffffff;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  
  transition-duration: .4s;
  transition-property: opacity;
} 

.slide {
  display: none;
}

.slide-title {
  margin: 71px 0 26px;
  
  font-weight: ;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slide1 .slide-title {
  width: 400px;
}

.slide2 .slide-title {
  width: 550px;
}

.slide3 .slide-title {
  width: 450px;
}

.slide2 p {
  width: 430px;
}

.slide3 p {
  width: 350px;
}

.btn {
  display: inline-block;  
  padding: 17px 54px 15px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  
  border-radius: 3px;
}

.slide-btn {
  box-sizing: border-box;
  min-width: 240px;
  min-height: 50px;
  margin-top: 39px;
  
  background-color: #fb565a;
}

#btn-1:checked ~ .slider {
  background-image: url(../img/slide1.png);
}

#btn-2:checked ~ .slider {
  background-image: url(../img/slide2.png);
  background-position: bottom right;
}

#btn-3:checked ~ .slider {
  background-image: url(../img/slide3.png);
  background-position: bottom right;
}

#btn-1:checked ~ .slider label[for="btn-1"]::after,
#btn-2:checked ~ .slider label[for="btn-2"]::after,
#btn-3:checked ~ .slider label[for="btn-3"]::after {
  visibility: visible;
  opacity: 1;
}

#btn-1:checked ~ .slider .slide1,
#btn-2:checked ~ .slider .slide2,
#btn-3:checked ~ .slider .slide3 {
  display: block;
}

/*Конец кода слайдера*/

/*Начало содержимого <header> на странице каталога*/

.main-title {
  box-sizing: border-box;
  width: 1160px;
  min-height: 234px;
  margin: 0 auto;
  padding-top: 70px;
  padding-left: 215px;
  
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

/*Конец содержимого <header> на странице каталога*/

.content {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.features {  
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding-top: 27px;
}

.feature-item {
  width: 300px;
  min-height: 347px;
}

.about-us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
  
  border-top: 2px solid #eeeeee;
}

.description {
  width: 660px;
  min-height: 450px;
  padding-top: 80px;
}

.advantages {
  width: 360px;
  min-height: 450px;
  padding-top: 40px;
}

.clients {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.client {
  display: flex;
  width: 260px;
  height: 180px;
}

.client img {
  margin: auto;
}

/*Начало содержимое <main> каталога*/

.inner-page {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 260px;
}

.column-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
}

.sorting-text {
  width: 160px;
}

.sorting-list {
  width: 360px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 24px;
}

.catalog-item {
  position: relative;
  
  width: 360px;
  min-height: 616px;
  margin-bottom: 36px;
}

.catalog-item-price {
  position: absolute;
  bottom: 0;
  
  width: 100%;
  
  background-color: #eeeeee;
}

.pagination {
  width: 460px;
  height: 50px;
  margin-bottom: 60px;
}

/*Конец содержимого <main> каталога*/

.main-footer {
  position: relative;
  
  display: flex;
  flex-wrap: wrap;
}

.map {
  width: 100%;
  min-height: 416px;
}

.footer-contacts-wrapper {
  position: relative;
  max-width: 1160px;
  height: 416px;
  margin: 0 auto;
}

.footer-contacts {
  position: absolute;
  top: 54px;
  
  box-sizing: border-box;
  width: 319px;
  height: 308px;
}

.footer-social {
  width: 360px;
  min-height: 217px;
  margin: 0 40px 0 auto;
}

.footer-discount {
  box-sizing: border-box;
  width: 760px;
  height: 217px;
  margin: 0;
  margin-right: auto;
  padding-right: 200px;
}





















/*======================================
 Системное оформление - не изменять
=======================================*/

/*
body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > * > * {
  background: rgba(255, 110, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(255, 110, 45);

}*/
